{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'CART.TITLE'|trans }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'PRODUCT.NAME'|trans }}</th>
            <th>{{ 'PRODUCT.PRICE'|trans }}</th>
            <th>{{ 'PRODUCT.QUANTITY'|trans }}</th>
            <th>{{ 'PRODUCT.TOTAL'|trans }}</th>
            <th>{{ 'CART.ACTIONS'|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for productDetail in cart.cartDetails %}
            <tr>
                <th>{{ productDetail.product.name }}</th>
                <td>{{ productDetail.product.price | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, app.request.locale)  }}</td>
                <td>
                    <div class="input-group">
                        <a href="{{ path('decrease_to_cart', {product: productDetail.product.id})}}" class="btn btn-outline-secondary" type="button" aria-label="Baisser la quantité d'une unité">-</a>
                        <input type="text" class="form-control" disabled value="{{ productDetail.quantity }}" aria-label="Quantity">
                        <a href="{{ path('add_to_cart', {product: productDetail.product.id})}}" class="btn btn-outline-secondary" type="button" aria-label="Augmenter la quantité d'une unité">+</a>
                    </div>
                </td>
                <td>{{ productDetail.total }}€</td>
                <td>
                    <a href="{{ path('products_show', {'product': productDetail.product.id}) }}" class="btn btn-primary">{{ 'PRODUCT.ACTIONS.SHOW'|trans }}</a>
                    <a href="{{ path('remove_from_cart', {'product': productDetail.product.id}) }}" class="btn btn-danger">{{ 'PRODUCT.ACTIONS.REMOVE'|trans }}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    {{ 'CART.TOTAL'|trans }} : {{ cart.total }}€



{% endblock %}
