{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-4">{{ 'CART.TITLE'|trans }}</h1>

    <div class="d-flex">
        <div class="flex-grow-1 d-flex">
            <ul class="list-group list-group-flush flex-grow-1">
                {% for productDetail in cart.cartDetails %}
                    <li class="list-group-item cart-item">
                        <div class="d-flex">
                            <div class="">
                                <img src="https://placehold.co/100" class="img-fluid h-100"
                                     alt="{{ productDetail.product.name }}">
                            </div>

                            <div class="ms-4">
                                <div class="mb-2">
                                    <a href="{{ path('products_show', {slug: productDetail.product.slug}) }}"
                                       class="link-dark fs-5 fw-bold">
                                        {{ productDetail.product.name }}
                                    </a>
                                </div>

                                <div class="mb-2">
                                    {{ productDetail.product.price | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, app.request.locale) }}
                                </div>


                                <div class="d-flex flex-row">

                                    <div class="input-group me-2">
                                        <a href="{{ path('decrease_to_cart', {slug: productDetail.product.slug}) }}"
                                           class="btn btn-outline-secondary rounded-start-circle border-end-0"
                                           type="button"
                                           aria-label="Baisser la quantité d'une unité">-</a>

                                        <div class="form-control border-secondary border-end-0 border-start-0 text-center"
                                             aria-description="{{ 'PRODUCT.QUANTITY' | trans }}">
                                            {{ productDetail.quantity }}
                                        </div>

                                        <a href="{{ path('add_to_cart', {slug: productDetail.product.slug}) }}"
                                           class="btn btn-outline-secondary rounded-end-circle border-start-0"
                                           type="button"
                                           aria-label="Augmenter la quantité d'une unité">+</a>
                                    </div>

                                    <a href="{{ path('remove_from_cart', {slug: productDetail.product.slug}) }}"
                                       class="btn btn-light rounded-circle"
                                       aria-description="{{ 'PRODUCT.ACTIONS.REMOVE'|trans }}">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </li>
                {% endfor %}
            </ul>

            <div class="vr mx-5"></div>
        </div>


        <div class="fs-5 fw-bold">
            {{ 'CART.TOTAL'|trans }}
            : {{ cart.total | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, app.request.locale) }}
        </div>

    </div>

{% endblock %}
