{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'SECURITY.LOG_IN_TITLE'|trans }}</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div class="mb-3">
        <label for="username" class="form-label">{{ 'SECURITY.LOGIN'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>
        </div>

        <div class="mb-3">
        <label for="password" class="form-label">{{ 'SECURITY.PASSWORD'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required>
        </div>

        <button type="submit" class="btn btn-primary">{{ 'SECURITY.LOG_IN'|trans }}</button>
    </form>
{% endblock %}
