<nav class="navbar mb-5 sticky-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('products_list') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="d-inline-block align-text-top" style="max-width: 100px;">
        </a>

        <div class="d-flex">

            <div class="nav-item dropdown p-2 text-reset">
                <a class="nav-link dropdown-toggle d-flex align-items-center me-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-globe fs-4 me-2"></i> {{ app.request.locale|locale_name(app.request.locale) }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), (app.request.attributes.get('_route_params')  | merge({'_locale': 'fr'}))) }}">Français</a></li>
                    <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), (app.request.attributes.get('_route_params')  | merge({'_locale': 'en'}))) }}">English</a></li>
                </ul>
            </div>

            <a href="{{ path('cart') }}" class="p-2 text-reset">
                <div class="position-relative">
                    <i class="bi bi-bag fs-4"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        {{ cart.quantity < 99 ? cart.quantity : '99+' }}
                        <span class="visually-hidden">{{ 'CART.CART'|trans }}</span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</nav>

