{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="mb-5">{{ 'PRODUCTS.TITLE'|trans }}</h1>


    <div class="row row-cols-2 row-cols-md-4 g-4">
        {% for product in products %}

            <div class="col">
                <div class="card product-card">
                    <a href="{{ path('products_show', {slug: product.slug}) }}" class="text-decoration-none">
                        <img src="{{ asset(product.image) }}" class="card-img-top" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>

                        <div class="mb-2">
                            {{ product.price | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, app.request.locale) }}
                        </div>

                        <div>

                            <a href="{{ path('products_show', {slug: product.slug}) }}"
                               class="btn btn-primary rounded-circle me-2"
                               aria-description="{{ 'PRODUCT.ACTIONS.SHOW'|trans }}">
                                <i class="bi bi-search"></i>
                            </a>

                            <a href="{{ path('add_to_cart', {slug: product.slug}) }}"
                               class="btn btn-light rounded-circle"
                               aria-description="{{ 'PRODUCT.ACTIONS.ADD_TO_CART'|trans }}">
                                <i class="bi bi-bag-plus"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}