{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ 'PRODUCTS.TITLE'|trans }}</h1>
    {% for product in products %}
        <div class="product mb-3">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description | nl2br }}</p>
            <p>{{ product.price | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, app.request.locale)  }}</p>
            <a href="{{ path('products_show', {'product': product.id}) }}" class="btn btn-primary">{{ 'PRODUCT.ACTIONS.SHOW'|trans }}</a>
        </div>
    {% endfor %}
{% endblock %}