{% extends 'base.html.twig' %}


{% block body %}

    <div class="row mb-5">
        <div class="col-12 col-md-4 d-flex">
            <img src="{{ asset(product.image) }}" class="img-fluid w-100" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-8">
            <h1 class="mb-3">{{ product.name }}</h1>
            <div class="fs-4 mb-2">{{ product.price | format_currency('EUR', {rounding_mode: 'floor', decimal_always_shown:true}, app.request.locale) }}</div>
            <p>{{ product.description | nl2br }}</p>

            <form action="{{ path('add_to_cart', {slug: product.slug}) }}" method="POST">
                <div class="input-group">
                    <input type="number" class="form-control" name="quantity" aria-label="Quantity" value="1" min="0">
                    <button type="submit" class="btn btn-primary">{{ 'PRODUCT.ACTIONS.ADD_TO_CART'|trans }}</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
