<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}IBEA{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('/favicon-96x96.png') }}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{{ asset('/favicon.svg') }}"/>
    <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}"/>
    <meta name="apple-mobile-web-app-title" content="IBEA"/>
    <link rel="manifest" href="{{ asset('/site.webmanifest') }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include '_includes/_navbar.html.twig' %}
{% include '_includes/_toasts.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
